.ansi-black-fg {
  color: var(--wp-ansi-black-fg);
}
.ansi-red-fg {
  color: var(--wp-ansi-red-fg);
}
.ansi-green-fg {
  color: var(--wp-ansi-green-fg);
}
.ansi-yellow-fg {
  color: var(--wp-ansi-yellow-fg);
}
.ansi-blue-fg {
  color: var(--wp-ansi-blue-fg);
}
.ansi-magenta-fg {
  color: var(--wp-ansi-magenta-fg);
}
.ansi-cyan-fg {
  color: var(--wp-ansi-cyan-fg);
}
.ansi-white-fg {
  color: var(--wp-ansi-white-fg);
}
.ansi-bright-black-fg {
  color: var(--wp-ansi-bright-black-fg);
}
.ansi-bright-red-fg {
  color: var(--wp-ansi-bright-red-fg);
}
.ansi-bright-green-fg {
  color: var(--wp-ansi-bright-green-fg);
}
.ansi-bright-yellow-fg {
  color: var(--wp-ansi-bright-yellow-fg);
}
.ansi-bright-blue-fg {
  color: var(--wp-ansi-bright-blue-fg);
}
.ansi-bright-magenta-fg {
  color: var(--wp-ansi-bright-magenta-fg);
}
.ansi-bright-cyan-fg {
  color: var(--wp-ansi-bright-cyan-fg);
}
.ansi-bright-white-fg {
  color: var(--wp-ansi-bright-white-fg);
}

.ansi-black-bg {
  background-color: var(--wp-ansi-black-bg);
}
.ansi-red-bg {
  background-color: var(--wp-ansi-red-bg);
}
.ansi-green-bg {
  background-color: var(--wp-ansi-green-bg);
}
.ansi-yellow-bg {
  background-color: var(--wp-ansi-yellow-bg);
}
.ansi-blue-bg {
  background-color: var(--wp-ansi-blue-bg);
}
.ansi-magenta-bg {
  background-color: var(--wp-ansi-magenta-bg);
}
.ansi-cyan-bg {
  background-color: var(--wp-ansi-cyan-bg);
}
.ansi-white-bg {
  background-color: var(--wp-ansi-white-bg);
}
.ansi-bright-black-bg {
  background-color: var(--wp-ansi-bright-black-bg);
}
.ansi-bright-red-bg {
  background-color: var(--wp-ansi-bright-red-bg);
}
.ansi-bright-green-bg {
  background-color: var(--wp-ansi-bright-green-bg);
}
.ansi-bright-yellow-bg {
  background-color: var(--wp-ansi-bright-yellow-bg);
}
.ansi-bright-blue-bg {
  background-color: var(--wp-ansi-bright-blue-bg);
}
.ansi-bright-magenta-bg {
  background-color: var(--wp-ansi-bright-magenta-bg);
}
.ansi-bright-cyan-bg {
  background-color: var(--wp-ansi-bright-cyan-bg);
}
.ansi-bright-white-bg {
  background-color: var(--wp-ansi-bright-white-bg);
}

.dark .ansi-black-fg {
  color: var(--wp-ansi-black-fg);
}
.dark .ansi-red-fg {
  color: var(--wp-ansi-red-fg);
}
.dark .ansi-green-fg {
  color: var(--wp-ansi-green-fg);
}
.dark .ansi-yellow-fg {
  color: var(--wp-ansi-yellow-fg);
}
.dark .ansi-blue-fg {
  color: var(--wp-ansi-blue-fg);
}
.dark .ansi-magenta-fg {
  color: var(--wp-ansi-magenta-fg);
}
.dark .ansi-cyan-fg {
  color: var(--wp-ansi-cyan-fg);
}
.dark .ansi-white-fg {
  color: var(--wp-ansi-white-fg);
}
.dark .ansi-bright-black-fg {
  color: var(--wp-ansi-bright-black-fg);
}
.dark .ansi-bright-red-fg {
  color: var(--wp-ansi-bright-red-fg);
}
.dark .ansi-bright-green-fg {
  color: var(--wp-ansi-bright-green-fg);
}
.dark .ansi-bright-yellow-fg {
  color: var(--wp-ansi-bright-yellow-fg);
}
.dark .ansi-bright-blue-fg {
  color: var(--wp-ansi-bright-blue-fg);
}
.dark .ansi-bright-magenta-fg {
  color: var(--wp-ansi-bright-magenta-fg);
}
.dark .ansi-bright-cyan-fg {
  color: var(--wp-ansi-bright-cyan-fg);
}
.dark .ansi-bright-white-fg {
  color: var(--wp-ansi-bright-white-fg);
}

.dark .ansi-black-bg {
  background-color: var(--wp-ansi-black-bg);
}
.dark .ansi-red-bg {
  background-color: var(--wp-ansi-red-bg);
}
.dark .ansi-green-bg {
  background-color: var(--wp-ansi-green-bg);
}
.dark .ansi-yellow-bg {
  background-color: var(--wp-ansi-yellow-bg);
}
.dark .ansi-blue-bg {
  background-color: var(--wp-ansi-blue-bg);
}
.dark .ansi-magenta-bg {
  background-color: var(--wp-ansi-magenta-bg);
}
.dark .ansi-cyan-bg {
  background-color: var(--wp-ansi-cyan-bg);
}
.dark .ansi-white-bg {
  background-color: var(--wp-ansi-white-bg);
}
.dark .ansi-bright-black-bg {
  background-color: var(--wp-ansi-bright-black-bg);
}
.dark .ansi-bright-red-bg {
  background-color: var(--wp-ansi-bright-red-bg);
}
.dark .ansi-bright-green-bg {
  background-color: var(--wp-ansi-bright-green-bg);
}
.dark .ansi-bright-yellow-bg {
  background-color: var(--wp-ansi-bright-yellow-bg);
}
.dark .ansi-bright-blue-bg {
  background-color: var(--wp-ansi-bright-blue-bg);
}
.dark .ansi-bright-magenta-bg {
  background-color: var(--wp-ansi-bright-magenta-bg);
}
.dark .ansi-bright-cyan-bg {
  background-color: var(--wp-ansi-bright-cyan-bg);
}
.dark .ansi-bright-white-bg {
  background-color: var(--wp-ansi-bright-white-bg);
}
