/* cSpell:ignore atrule hexcode */
.token.atrule {
  color: var(--wp-syntax-atrule);
}

.token.attr-name {
  color: var(--wp-syntax-attr-name);
}

.token.attr-value {
  color: var(--wp-syntax-attr-value);
}

.token.attribute {
  color: var(--wp-syntax-attribute);
}

.token.boolean {
  color: var(--wp-syntax-boolean);
}

.token.builtin {
  color: var(--wp-syntax-builtin);
}

.token.cdata {
  color: var(--wp-syntax-cdata);
}

.token.char {
  color: var(--wp-syntax-char);
}

.token.class {
  color: var(--wp-syntax-class);
}

.token.class-name {
  color: var(--wp-syntax-class-name);
}

.token.comment {
  color: var(--wp-syntax-comment);
}

.token.constant {
  color: var(--wp-syntax-constant);
}

.token.deleted {
  color: var(--wp-syntax-deleted);
}

.token.doctype {
  color: var(--wp-syntax-doctype);
}

.token.entity {
  color: var(--wp-syntax-entity);
}

.token.function {
  color: var(--wp-syntax-function);
}

.token.hexcode {
  color: var(--wp-syntax-hexcode);
}

.token.id {
  color: var(--wp-syntax-id);
  font-weight: bold;
}

.token.important {
  color: var(--wp-syntax-important);
  font-weight: bold;
}

.token.inserted {
  color: var(--wp-syntax-inserted);
}

.token.keyword {
  color: var(--wp-syntax-keyword);
}

.token.number {
  color: var(--wp-syntax-number);
}

.token.operator {
  color: var(--wp-syntax-operator);
}

.token.prolog {
  color: var(--wp-syntax-prolog);
}

.token.property {
  color: var(--wp-syntax-property);
}

.token.pseudo-class {
  color: var(--wp-syntax-pseudo-class);
}

.token.pseudo-element {
  color: var(--wp-syntax-pseudo-element);
}

.token.punctuation {
  color: var(--wp-syntax-punctuation);
}

.token.regex {
  color: var(--wp-syntax-regex);
}

.token.selector {
  color: var(--wp-syntax-selector);
}

.token.string {
  color: var(--wp-syntax-string);
}

.token.symbol {
  color: var(--wp-syntax-symbol);
}

.token.tag {
  color: var(--wp-syntax-tag);
}

.token.unit {
  color: var(--wp-syntax-unit);
}

.token.url {
  color: var(--wp-syntax-url);
}

.token.variable {
  color: var(--wp-syntax-variable);
}

.dark .token.atrule {
  color: var(--wp-syntax-atrule);
}

.dark .token.attr-name {
  color: var(--wp-syntax-attr-name);
}

.dark .token.attr-value {
  color: var(--wp-syntax-attr-value);
}

.dark .token.attribute {
  color: var(--wp-syntax-attribute);
}

.dark .token.boolean {
  color: var(--wp-syntax-boolean);
}

.dark .token.builtin {
  color: var(--wp-syntax-builtin);
}

.dark .token.cdata {
  color: var(--wp-syntax-cdata);
}

.dark .token.char {
  color: var(--wp-syntax-char);
}

.dark .token.class {
  color: var(--wp-syntax-class);
}

.dark .token.class-name {
  color: var(--wp-syntax-class-name);
}

.dark .token.comment {
  color: var(--wp-syntax-comment);
}

.dark .token.constant {
  color: var(--wp-syntax-constant);
}

.dark .token.deleted {
  color: var(--wp-syntax-deleted);
}

.dark .token.doctype {
  color: var(--wp-syntax-doctype);
}

.dark .token.entity {
  color: var(--wp-syntax-entity);
}

.dark .token.function {
  color: var(--wp-syntax-function);
}

.dark .token.hexcode {
  color: var(--wp-syntax-hexcode);
}

.dark .token.id {
  color: var(--wp-syntax-id);
  font-weight: bold;
}

.dark .token.important {
  color: var(--wp-syntax-important);
  font-weight: bold;
}

.dark .token.inserted {
  color: var(--wp-syntax-inserted);
}

.dark .token.keyword {
  color: var(--wp-syntax-keyword);
}

.dark .token.number {
  color: var(--wp-syntax-number);
}

.dark .token.operator {
  color: var(--wp-syntax-operator);
}

.dark .token.prolog {
  color: var(--wp-syntax-prolog);
}

.dark .token.property {
  color: var(--wp-syntax-property);
}

.dark .token.pseudo-class {
  color: var(--wp-syntax-pseudo-class);
}

.dark .token.pseudo-element {
  color: var(--wp-syntax-pseudo-element);
}

.dark .token.punctuation {
  color: var(--wp-syntax-punctuation);
}

.dark .token.regex {
  color: var(--wp-syntax-regex);
}

.dark .token.selector {
  color: var(--wp-syntax-selector);
}

.dark .token.string {
  color: var(--wp-syntax-string);
}

.dark .token.symbol {
  color: var(--wp-syntax-symbol);
}

.dark .token.tag {
  color: var(--wp-syntax-tag);
}

.dark .token.unit {
  color: var(--wp-syntax-unit);
}

.dark .token.url {
  color: var(--wp-syntax-url);
}

.dark .token.variable {
  color: var(--wp-syntax-variable);
}
